.nav {
    background-color: #3A3935;
    display: flex;
    align-items: center;
    height: 5vh;
}

.littleDiv, .bigDiv {
    display: flex;
    justify-content: center;
}

.littleDiv {
    width: 10vw;
}

.bigDiv {
    width: 80vw;
}

.bi{
    transition: all 0.5s;
    font-size: 3vw;
    color: white;
}

.bi-bell{
    font-size: 2vw;
}

.bi-house{
    font-size: 2.5vw;
}

.bi:hover{
	transition: all 0.5s;
	color: #901644;
}