.nav {
    width: 100%;

    background-color: #3A3935;

    display: flex;

    align-items: center;
}

.littleDiv, .bigDiv {
    display: flex;

    justify-content: center;

    height: 100%;
}

.littleDiv {
    width: 10vw;
}

.bigDiv {
    width: 80vw;
}

.bi{
    font-size: 7vw;
    color: red;
}

.bi-bell {
    font-size: 5vw;
}