.pongBoard {
    display: flex;

    border: 0.8vw #1B1B1B solid;

    margin: auto;

    margin-top: 5%;

    width: 60%;
    /* background: #040404; */

    box-shadow: 5px 5px 50px blue,
                -5px -5px 50px rgb(255, 0, 0);
}

.limitCamps {
    height: 100%;
    width: 40%;

    margin-right: 40%;
    border-right: 0.2vw #3A3935 dashed;
}

.limitPlayer1 {
    height: 100%;
    width: 10%;

    border-right: 0.1vw #3A3935 solid;
}

.limitPlayer2 {
    height: 100%;
    width: 10%;

    border-left: 0.1vw #3A3935 solid;
}

.player1, .player2 {
    position: absolute;
    border-radius: 5px;

    top: calc(50% - 8%);

    width: 2%;
    height: 16%;
}

.player1 {

    left: calc(10% - 1%);

    box-shadow: 0px 0px 15px red;

    background-color: rgb(135, 10, 10);
}

.player2 {

    left: calc(90% - 1%);

    box-shadow: 0px 0px 15px blue;

    background-color: rgb(10, 10, 135);
}

.ball {
    position: absolute;

    width: 2vw;
    height: 2vw;


    top: calc(50% - 1vw);
    left: calc(50% - 1vw);

    border-radius: 50%;

    background-color: green;
 
    box-shadow: 0px 0px 20px 5px green;
}