.pongBoard {
    display: flex;

    border: 0.8vw #1B1B1B solid;

    margin: auto;

    margin-top: 5%;

    width: 60%;
    /* background: #040404; */

    box-shadow: 5px 5px 50px blue,
                -5px -5px 50px rgb(255, 0, 0);
}

.joinRoom {
    width: 50%;
    height: 50%;

    background-color: aliceblue;
}